/***************************** MOBILE STYLES *****************************/

h1, h2, h3, h4, h5, h6 {
	color: #d7d7d7;
}

/* Background image set in the theme in WP dashboard, but styling/positioning options limited */
body.custom-background {
	background-image: url('img/sg2017HeroMob.png') !important;
	background-size: contain;
	background-repeat: no-repeat;
}

a {
	color: #ed7b32;
}

a:hover {
	text-decoration: none;
}

/* logo image */
.site-branding {
	text-align: right;
}

.site-branding > a > img {
	height: 160px;
}

.main-navigation {
	background-color: rgba(0,0,0,0.8);
}

.main-navigation a {
	text-shadow: 0;
}

.main-navigation ul ul li {
    background-color: inherit;
}

.btn.menu-toggle {
	width: 40px;
	font-size: 25px;
	padding: 1px;
	margin: 10px 0;
	border-radius: 3px;
}

.site-header > .container {
	padding: 0;
}

.site-branding .links {
	position: absolute;
	z-index: 9999;
	top: 196px;
	left: 72px;
	width: 100%;
	min-height: 30px;
}

.lang-links {
	position: absolute;
	left: 0;
	margin-top: 3px;
	width: 120px;
	text-align: left;
}

.lang-links .links a {
	margin: 0px 9px;
	display: inline-block;
	padding-top: 7px;
}

.social-links {
	width: 120px;
	position: absolute;
	right: 0;
	top: -2px;
	margin-right: 85px;
}

.socials {
	float: right;
	width: 30px;
	padding: 0;
	margin: 0 0 0 15px;
}

.socials .links a {
	margin: 0;
}

.decoration-bar {
	/*background: rgb(0, 160, 176) !important;*/
	background: teal;
}

.site-content {
	background: rgba(0,0,0,0.9);
}

.card {
	margin: 10px 0;
	color: #000;
	padding: 1px 15px 5px;
	background: #d7d7d7;
}

.card h2, .card h3, .card h4, .card h5, .card h6 {
	padding: 5px;
	padding-bottom: 8px;
	text-align: center;
	color: #000;
	border-bottom: 3px solid teal;
}

.content-area {
	width: auto !important;
	float: left;
}

.widget-area {
	width: auto !important;
	float: right;
	display: block !important;
}	

.widget-title {
	background-color: transparent;
	text-align: center;
	margin: 0;
	border-bottom: 3px solid teal;
}
		
.widget-title + .decoration-bar {
	display: none;
}

section #huge_it_videogallery {
	box-shadow: initial !important;
	margin-top: 10px !important;
}

#huge_it_videogallery li img {
    width: auto !important;
    max-width: inherit !important;
    height: auto !important;
    min-height: 100% !important;
}

footer .site-info, footer .decoration-bar {
	display: none;
}

#sidebar-footer {
	padding: 50px 10px 20px;
	background-image: url('img/pattern.png');
	background-repeat: repeat;
	background-color: #000000;
}

#side-bar footer table {
	width: auto;
	border: 0;
}

#sidebar-footer td {
	padding: 0;
	border: 0
}

#sidebar-footer .textwidget {
	padding: 0;
	margin: 0;	
}

#text-5 .textwidget {
	float: right;
}

#text-5 .textwidget img {
	width: 100%;
	max-width: 160px;
}

#text-6 {
	margin: 30px 0 0;
}

#text-6 .textwidget {
	float: right;
}

#text-6 .textwidget img {
	max-width: 200px;
	margin: 0;
}

/* HOME STYLES */
body.home header.entry-header {
	display: none;
}


/* EVENTS STYLES */
body.page-template-custom_events .widget-area {
	display: none !important;
}

body.page-template-custom_events.site-content {
    padding: 30px 30px 0;
}

.event {
    float: none;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    margin: 20px auto 15px;
    padding: 4px 0 10px 4px;
    background: transparent;
    display: block;    
    border-bottom: 3px solid teal;
    text-align: center;	   
}

.event_float {
    color: #000;
    font-size: 12px;
    line-height: 16px;
    height: auto;
    padding: 0 14px;
    margin: 0;
    border: 0;
    box-shadow: 0 0 0 transparent;
    box-sizing: border-box;   
}

.event_float form {
    margin: 15px auto;
    max-width: 320px;
    background: #000;
}

.event_float .img-wrap {
	width: 100%;
	background-color: #CCC;
	padding-bottom: 58%;
	background-size: cover;
	overflow: hidden;
	background-repeat: no-repeat;
	max-height: 170px;
	background-position: center;
/*	transition: background-size 0.3s;
	-webkit-transition: background-size 0.3s;
	-o-transition: background-size 0.3s;
	-moz-transition: background-size 0.3s;*/
	cursor: pointer;
}

.event_float .img-wrap:hover {
/*	background-size: 110%;*/
}

.event_float h4 {
    color: teal;
    font-weight: bold;
    font-size: 16px;
    min-height: 34px;
    padding: 0 15px;
    font-style: italic;
}

.event_float h2 {
    color: white;
    font-weight: 700;
    margin: 10px 0 20px 0;
    font-size: 18px;
    min-height: 100px;
    padding: 0 15px;
}

.cta-wrap {
    display: block;
    min-height: 40px;
}

.cta-wrap a.book, .cta-wrap span.saor {
	float: left;
	margin-left: 15px;
	width: 80px;
	font-weight: 700;
}

.cta-wrap .info {
	float: right;
	margin-right: 15px;
	width: 80px;
	font-weight: 700;
}

.cta-wrap span.saor {
	border: 1px solid #fff;
	background: transparent;
	color: white;
	text-align: center;
	padding: 3px 0 4px;
}

.cta-wrap a.book, .cta-wrap .info {
	background: #FFF;
	color: black;
	text-align: center;
	text-decoration: none;
	padding: 3px 0 4px;
	border-radius: 2px; 
	border: 1px solid #fff;
	opacity: 0.75;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.cta-wrap a.book:hover, .cta-wrap .info:hover {
	opacity: 1;
}

/* EVENTS MODAL */
body.page-template-custom_events #myModal {
	margin: 0px auto;
	width: 90%;
	max-width: 800px;
	top: calc(15% - 50px) !important;
	border: 3px solid white;
	height: 431px;
	overflow: hidden;
	box-shadow: 0px 0px 0px transparent;
	padding-left: 0 !important;

}

body.page-template-custom_events .modal-dialog {
	width: 100%;
	height: 100%;
	margin: 0;
	background: white;
	box-shadow: 0 0 0 transparent;
	overflow-y: scroll;
}

body.page-template-custom_events .modal-content {
	box-shadow: 0 0 0 transparent;
	background-color: white;
	border: 0;
}

body.page-template-custom_events .modal-header {
	background: black;
	border-bottom: 3px solid teal;
	text-align: center;
	font-size: 22px;
	color: #000;
	border-radius: 0;
}

body.page-template-custom_events .modal-body {
	border-radius: 0;
	padding: 10px;
}

body.page-template-custom_events .close {
	color: #FFF;
	float: right;
	font-weight: 700;
	opacity: 0.75;
}

body.page-template-custom_events .close:hover {
	opacity: 1;
}

body.page-template-custom_events #scoilInfo h3 {
	background: rgba(255,255,255,0.8);
	font-size: 20px;
	padding: 0;
	margin: 10px 5px 0 auto;
	padding: 0;
	font-size: 20px;
}

.mob-img-wrap {
	width: 100%;
	height: auto;
	overflow: hidden;
	max-height: 300px;
}

 .mob-img {
	width: 50%;
	height: auto;
	overflow: hidden;
	padding-bottom: 33%;
	background-size: cover;
	background-position: center;
 }

body.page-template-custom_events #scoilInfo h3 {
	background: rgba(255,255,255,0.8);
	margin: 10px auto 10px auto;
	width: 100%;
}

body.page-template-custom_events #scoilInfo h4 {
	font-size: 14px;
	font-weight: bold;
	color: teal;
	margin: 5px 0 11px 0;
	display: block;
	width: 100%;
	float: left;
}

body.page-template-custom_events #scoilInfo .boxer {
	margin: 10px auto;
	border: 2px solid #CCC;
	width: auto;
	background: transparent;
	color: #FFF;
	box-sizing: border-box;
	height: 110px;
	overflow: scroll;
}

body.page-template-custom_events #scoilInfo .boxer p {
	color: #000;
	font-weight: 400;
	padding: 0;
	width: auto;
}

body.page-template-custom_events .tryer2 {
	display: none;
}

body.page-template-custom_events .tryer2 + hr {
	display: none;
}

body.page-template-custom_events .tryer3 {
	margin: 0;
	color: teal;
	text-align: center;
	display: block;
	width: 100%;
}




/* TRAVEL INFO */
.page-id-30 .content-area {
	width: 100%;
}

.gm-style-iw span {
	color: #000;
	font-weight: 700;
}







/***************************** DESKTOP STYLES *****************************/
@media only screen and (min-width: 768px) {

	body.custom-background {
		background-image: url('img/sg2017HeroDesk.png') !important;
		background-attachment: fixed !important;
		background-size: cover;

	}

	/* logo image */
	.site-branding > a > img {
		height: 260px;
	}

	.main-navigation ul ul {
		top: auto;
		background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0%;
		box-shadow: initial;
		margin-top: 22px;
		width: 100%;
		text-align: center;
		padding: 0px;
		border: 4px solid teal;
	}

	.main-navigation ul li:hover > ul {
		left: 0;
	}

	.main-navigation ul ul li {
		background-color: transparent;
		padding: 20px 3.4%;
		border: 0;
	}

	.main-navigation a {
		text-shadow: initial;
		font-weight: 700;
	}

	.main-navigation ul ul a {
    	width: auto;
	}

	.lang-links {
		margin-top: 103px;
		width: 120px;
		text-align: left;
		right: 10%;
		left: auto;
	}

	.social-links {
		width: 50px;
		position: fixed;
		right: auto;
		top: -2px;
		margin: 0;
		left: 10px;
	}

	.socials {
		margin: 20px 0 0 15px;
	}

	/* Main nav bar */
	#menu-main-menu {
		margin: 0;
		padding-left: 0;
		width: 100%;
		min-height: 20px;
		text-align: left;
	}

	.main-navigation li {
		float: none;
		position: relative;
		padding: 20px 3.4%;
		margin-right: 1px;
		text-transform: uppercase;
		display: inline-block;
	}

	.site-content {
		padding: 60px 5% 0;
	}

	.content-area {
		width: 61% !important;
		float: left;
		margin-right: 9%;
	}

	.widget-area {
		width: 30% !important;
		float: right;
	}

	.card {
		min-height: 255px;
	}

	#sidebar-footer {
		padding: 50px 5%;
	}

	#sidebar-footer .sidebar-column + .clearfix {
		display: none;
	}

	#sidebar-footer .sidebar-column:first-child {
		padding-left: 0;
	}

	#sidebar-footer .sidebar-column:last-child {
		padding-right: 0;
	}

	#text-5 .textwidget {
	    float: none;
	}

	#text-6 {
		margin: 0;
	}


	/* EVENTS STYLES */
	.page-template-custom_events .content-area {
		width: 100% !important;
	}

	body.page-template-custom_events.site-content {
	    padding: 60px 60px 0;
	}

	/* EVENTS MODAL */
	#scoilInfo .row {
		margin: 0;
	}

	#scoilInfo .left-area {
		background-size: contain;
		background-position: top;
		min-height: 450px;
		background-repeat: no-repeat;
	}

	body.page-template-custom_events #scoilInfo h4 {
		margin-left: 0;
	}

	body.page-template-custom_events #scoilInfo .boxer {
		padding-top: 0;
		margin-top: 0;
	}

	/* WORKSHOP STYLES */

	.hide-mobile {
		display: none;
	}

	tr td:first-child {
		display: none;
	}

	tr td:nth-of-type(2n) {
		display: none;
	}

	table.work-table {
		table-layout: fixed-width;
	}

	.work-table td {
		width: 20%;
		word-wrap: normal;
	}

	.work-table td.wshop-title {
		width: 40%;
	}


	.
} /* End desktop media query */


/* Original theme breakpoints */
@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 599px) {

}
@media only screen and (max-width: 499px) {

}
@media only screen and (max-width: 320px) {

}


