@font-face {
    font-family: 'Aller';
    src:url('fonts/Aller.ttf.woff') format('woff'),
        url('fonts/Aller.ttf.svg#Aller') format('svg'),
        url('fonts/Aller.ttf.eot'),
        url('fonts/Aller.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


/***************************** Base & Mobile Styles *****************************/

h1, h2, h3, h4, h5, h6 {
	color: #efefef;
	font-family: 'Open Sans', Aller, 'Trebuchet MS', sans-serif;
	text-transform: uppercase;
}

h1 {
	color: black;
	padding: 2px 5px;
	background: #23BDC5;
	text-align: left;
	display: inline-block;
	margin-bottom: 30px;
	font-size: 30px;
}

html, body, p, a, div {
	font-family: Aller, 'Trebuchet MS', sans-serif;
}

body.custom-background {
	background-image: url('img/sg2017HeroMob.png') !important;
	background-size: contain;
	background-repeat: no-repeat;
}

p.intro {
	font-size: 16px;
	line-height: 20px;
}

a {
	color: #ed7b32;
}

a:hover {
	text-decoration: none;
}

.site-main {
	margin-bottom: 40px;
}

/* logo image */
.site-branding {
	text-align: right;
}

.site-branding > a > img {
	height: 160px;
}

.main-navigation {
	background-color: rgba(0,0,0,0.8);
}

.menu-item-has-children > a::after, .page_item_has_children > a::after {
	color: #23BDC5;
}

.main-navigation a {
	text-shadow: 0;
}

.main-navigation ul ul li {
    background-color: inherit;
}

.btn.menu-toggle {
	width: 40px;
	font-size: 25px;
	padding: 1px;
	margin: 10px 0;
	border-radius: 3px;
}

.btn.menu-toggle:hover {
	color: #ffff00;
}

.site-header > .container {
	padding: 0;
}

.site-branding .links {
	position: absolute;
	z-index: 9999;
	top: 196px;
	left: 72px;
	width: 100%;
	min-height: 30px;
}

.lang-links {
	position: absolute;
	left: 0;
	margin-top: 3px;
	width: 120px;
	text-align: left;
}

.lang-links .links a {
	margin: 0px 9px;
	display: inline-block;
	padding-top: 7px;
}

.social-links {
	width: 120px;
	position: absolute;
	right: 0;
	top: -2px;
	margin-right: 85px;
}

.socials {
	float: right;
	width: 30px;
	padding: 0;
	margin: 0 0 0 15px;
}

.links .socials a {
	display: inline-block;
	width: 33px;
	height: 33px;
	margin: 0;
	background-size: 100%;
	transition: all 0.15s ease-in-out;
	background-position: center;
	background-repeat: no-repeat;
}

.links .socials a img {
	display: none !important;
}

.links .socials:first-child a {
	background-image: url(img/fb.svg);
}

.links .socials:last-child a {
	background-image: url(img/tw.svg);
}

.links .socials a:hover {
	background-size: 90%;
}

.decoration-bar {
	/*background: rgb(0, 160, 176) !important;*/
	background: #23BDC5;
}

header.entry-header {
	display: none;
}

.site-content {
	padding: 15px;
	background: rgba(0,0,0,0.95);
}

.card {
	margin: 10px 0;
	color: #000;
	padding: 1px 15px 5px;
	background: rgba(255,255,255,0.7);
}

.card h2, .card h3, .card h4, .card h5, .card h6 {
	padding: 5px;
	padding-bottom: 8px;
	text-align: center;
	color: #000;
	border-bottom: 3px solid #23BDC5;
}

.card a {
	color: #ff1b00;
	word-wrap: break-word;
}

.content-area {
	width: auto !important;
	float: left;
}

.widget-area {
	width: auto !important;
	float: right;
	display: block !important;
}	

.widget-title {
	color: #e2e2e2;
	background-color: transparent;
	text-align: center;
	margin: 0;
	border-bottom: 3px solid #23BDC5;
}
		
.widget-title + .decoration-bar {
	display: none;
}

section #huge_it_videogallery {
	box-shadow: initial !important;
	margin-top: 10px !important;
	background-color: #181818 !important;
}

#huge_it_videogallery li img {
    width: auto !important;
    max-width: inherit !important;
    height: auto !important;
    min-height: 100% !important;
}

#huge_it_videogallery .huge_it_big_li {
	border: 0 !important;
}

footer .site-info, footer .decoration-bar {
	display: none;
}

#sidebar-footer {
	padding: 50px 10px 20px;
	background-image: url('img/pattern.png');
	background-repeat: repeat;
	background-color: #000000;
}

#side-bar footer table {
	width: auto;
	border: 0;
}

#sidebar-footer td {
	padding: 0;
	border: 0
}

#sidebar-footer .textwidget {
	padding: 0;
	margin: 0;	
}

#text-5 .textwidget {
	float: right;
}

#text-5 .textwidget img {
	width: 100%;
	max-width: 160px;
}

#text-6 {
	margin: 30px 0 0;
}

#text-6 .textwidget {
	float: none;
	text-align: center;
}

#text-6 .textwidget img {
	max-width: 200px;
	margin: 0;
	float: none;
}

/* HOME STYLES */
body.home header.entry-header {
	display: none;
}


/* EVENTS STYLES */
body.page-template-custom_events .widget-area,
body.page-template-custom_events_irish .widget-area {
	display: none !important;
}

body.page-template-custom_events.site-content,
body.page-template-custom_events_irish .site-content {
    padding: 30px 30px 0;
}

.event {
    float: none;
    color: #efefef;
    font-size: 22px;
    font-weight: 700;
    width: 100%;
    margin: 50px auto 15px;
    padding: 4px 0 10px 4px;
    background: transparent;
    display: block;    
    border-bottom: 3px solid #efefef;
    text-align: center;	   
}

.event_float {
    color: #000;
    font-size: 12px;
    line-height: 16px;
    height: auto;
    padding: 0 14px;
    margin: 0;
    border: 0;
    box-shadow: 0 0 0 transparent;
    box-sizing: border-box;   
}

.event_float form {
    margin: 15px auto;
    max-width: 320px;
    background: #181818;
}

.event_float .img-wrap {
	width: 100%;
	background-color: #CCC;
	padding-bottom: 58%;
	background-size: cover;
	overflow: hidden;
	background-repeat: no-repeat;
	max-height: 170px;
	background-position: center;
/*	transition: background-size 0.3s;
	-webkit-transition: background-size 0.3s;
	-o-transition: background-size 0.3s;
	-moz-transition: background-size 0.3s;*/
}

.event_float .img-wrap:hover {
/*	background-size: 110%;*/
}

.event_float h4 {
    color: #23BDC5;
    font-weight: bold;
    font-size: 16px;
    min-height: 53px;
    padding: 0 15px;
    font-style: italic;
}

.event_float h2 {
    color: white;
    font-weight: 700;
    margin: 10px 0 20px 0;
    font-size: 18px;
    min-height: 139px;
    padding: 0 15px;
}

.cta-wrap {
    display: block;
    min-height: 40px;
}

.cta-wrap a.book, .cta-wrap span.saor {
	float: left;
	margin-left: 15px;
	width: 80px;
	text-transform: uppercase;
}

.cta-wrap .info {
	float: right;
	margin-right: 15px;
	width: 80px;
	text-transform: uppercase;
}

.cta-wrap span.saor {
	border: 1px solid #fff;
	background: transparent;
	color: white;
	text-align: center;
	padding: 3px 0 4px;
}

.cta-wrap a.book, .cta-wrap .info {
	background: #FFF;
	color: black;
	font-size: 13px;
	line-height: 13px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	padding: 3px 0 4px;
	border-radius: 2px; 
	border: 1px solid #fff;
	opacity: 0.75;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.cta-wrap a.book:hover, .cta-wrap .info:hover {
	opacity: 1;
}

/* EVENTS MODAL */
body.page-template-custom_events #myModal,
body.page-template-custom_events_irish #myModal {
	margin: 0px auto;
	width: 90%;
	max-width: 800px;
	top: calc(15% - 50px) !important;
	border: 3px solid white;
	height: 431px;
	overflow: hidden;
	box-shadow: 0px 0px 0px transparent;
	padding-left: 0 !important;

}

body.page-template-custom_events .modal-dialog,
body.page-template-custom_events_irish .modal-dialog{
	width: 100%;
	height: 100%;
	margin: 0;
	background: white;
	box-shadow: 0 0 0 transparent;
	overflow-y: scroll;
}

body.page-template-custom_events .modal-content,
body.page-template-custom_events_irish .modal-content {
	box-shadow: 0 0 0 transparent;
	background-color: white;
	border: 0;
}

body.page-template-custom_events .modal-header,
body.page-template-custom_events_irish .modal-header {
	background: black;
	border-bottom: 3px solid #23BDC5;
	text-align: center;
	font-size: 22px;
	color: #000;
	border-radius: 0;
}

body.page-template-custom_events .modal-body,
body.page-template-custom_events_irish .modal-body {
	border-radius: 0;
	padding: 10px;
}

body.page-template-custom_events .close,
body.page-template-custom_events_irish .close  {
	color: #FFF;
	float: right;
	font-weight: 700;
	opacity: 0.75;
}

body.page-template-custom_events .close:hover,
body.page-template-custom_events_irish .close:hover {
	opacity: 1;
}

body.page-template-custom_events #scoilInfo h3,
body.page-template-custom_events_irish #scoilInfo h3 {
	background: rgba(255,255,255,0.8);
	font-size: 20px;
	padding: 0;
	margin: 10px 5px 0 auto;
	padding: 0;
	font-size: 20px;
}

.mob-img-wrap {
	width: 100%;
	height: auto;
	overflow: hidden;
	max-height: 300px;
}

 .mob-img {
	width: 50%;
	height: auto;
	overflow: hidden;
	padding-bottom: 33%;
	background-size: cover;
	background-position: center;
 }

body.page-template-custom_events #scoilInfo h3,
body.page-template-custom_events_irish #scoilInfo h3 {
	background: rgba(255,255,255,0.8);
	margin: 10px auto 10px auto;
	width: 100%;
}

body.page-template-custom_events #scoilInfo h4,
body.page-template-custom_events_irish #scoilInfo #scoilInfo h4 {
	font-size: 14px;
	font-weight: bold;
	color: #23BDC5;
	margin: 5px 0 11px 0;
	display: block;
	width: 100%;
	float: left;
}

body.page-template-custom_events #scoilInfo .boxer,
body.page-template-custom_events_irish #scoilInfo .boxer {
	margin: 10px auto;
	border: 2px solid #CCC;
	width: auto;
	background: transparent;
	color: #FFF;
	box-sizing: border-box;
	height: 110px;
	overflow: scroll;
}

body.page-template-custom_events #scoilInfo .boxer p,
body.page-template-custom_events_irish #scoilInfo .boxer p {
	color: #000;
	font-weight: 400;
	padding: 0;
	width: auto;
}

body.page-template-custom_events .tryer2,
body.page-template-custom_events_irish .tryer2 {
	display: none;
}

body.page-template-custom_events .tryer2 + hr,
body.page-template-custom_events_irish .tryer2 + hr {
	display: none;
}

body.page-template-custom_events .tryer3,
body.page-template-custom_events_irish  .tryer3 {
	margin: 0;
	color: #23BDC5;
	text-align: center;
	display: block;
	width: 100%;
}

body.page-template-custom_events .tryer3 a,
body.page-template-custom_events_irish .tryer3 a {
	background: rgba(0,0,0,0.8);
	padding: 4px 11px;
	border-radius: 2px;
	color: white;
	transition: all 0.3s ease;
}

body.page-template-custom_events .tryer3 a:hover,
body.page-template-custom_events_irish .tryer3 a:hover  {
	background: rgba(0,0,0,1);
}

/* WORKSHOP STYLES */

.wshop {
	background: #181818;
	margin-top: 15px;
	margin-bottom: 15px;
}

.wshop-title {
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    padding: 5px 5px 10px;
    border-bottom: 3px solid #efefef;
}

.wshop-image {
	height: 110px;
	background-size: cover;
	background-position: center;
}

.wshop-tutor, .wshop-price {
	height: 55px;
	text-align: center;
	padding-top: 20px;
}

.wshop-cta {
	text-align: center;
	padding: 15px;
}

.wshop-cta a.book {
	display: inline-block;
	background: #FFF;
	color: black;
	font-size: 13px;
	line-height: 13px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 80px;
	padding: 3px 0 4px;
	border-radius: 2px; 
	border: 1px solid #fff;
	opacity: 0.75;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.wshop-cta a.book:hover {
	opacity: 1;
}

/* TRAVEL INFO */
.page-id-30 .content-area {
	width: 100%;
}

.gm-style-iw span {
	color: #000;
	font-weight: 700;
}


/* ACCOMMODATION */

.page-id-32 table {
	table-layout: fixed;
	width: auto;
}

.page-id-32 table td:empty {
	display: none;
}

tr.accom-imgs {
	display: none;
}

.page-id-32 table h4 {
	line-height: 1.2;
}
































/***************************** DESKTOP STYLES *****************************/
@media only screen and (min-width: 768px) {

	body.custom-background {
		background-image: url('img/sg2017HeroDesk.png') !important;
		background-attachment: fixed !important;
		background-size: cover;
		background-position: center;

	}

	.site-main {
		margin-bottom: 70px;
	}

	/* logo image */
	.site-branding > a > img {
		height: 260px;
	}

	.main-navigation {
		padding-left: 5%;
		padding-right: 5%;
	}

	.main-navigation ul ul {
		top: auto;
		background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0%;
		box-shadow: initial;
		margin-top: 22px;
		width: 100%;
		text-align: center;
		padding: 0px;
		border: 4px solid #23BDC5;
	}

	.main-navigation ul li:hover > ul {
		left: 0;
	}

	.main-navigation ul ul li {
		background-color: transparent;
		padding: 20px 3.3%;
		border: 0;
	}

	.main-navigation a {
		text-shadow: initial;
		font-weight: 700;
	}

	.main-navigation ul ul a {
    	width: auto;
	}

	.lang-links {
		margin-top: 103px;
		width: 120px;
		text-align: left;
		right: 10%;
		left: auto;
	}

	.social-links {
		width: 44px;
		position: fixed;
		right: auto;
		top: 5px;
		margin: 0;
		left: 6px;
		background: rgba(185, 182, 182, 0.5);
		border-radius: 50px;
	}

	.socials {
		margin: 8px 9px 3px;
	}

	/* Main nav bar */
	#menu-main-menu {
		margin: 0;
		padding-left: 0;
		width: 100%;
		min-height: 20px;
		text-align: left;
	}

	.main-navigation li {
		float: none;
		position: relative;
		padding: 20px 3.4%;
		margin-right: 1px;
		text-transform: uppercase;
		display: inline-block;
	}

	.site-content {
		padding: 60px 5% 0;
	}

	.content-area {
		width: 61% !important;
		float: left;
		margin-right: 9%;
	}

	.widget-area {
		width: 30% !important;
		float: right;
	}

	.card {
		min-height: 255px;
	}

	#sidebar-footer {
		padding: 50px 5%;
	}

	#sidebar-footer .sidebar-column + .clearfix {
		display: none;
	}

	#sidebar-footer .sidebar-column:first-child {
		padding-left: 0;
	}

	#sidebar-footer .sidebar-column:last-child {
		padding-right: 0;
	}

	#text-5 .textwidget {
	    float: none;
	}

	#text-6 {
		margin: 0;
	}

	#text-6 .textwidget img {
		float: right;
	}


	/* EVENTS STYLES */
	.page-template-custom_events .content-area {
		width: 100% !important;
	}

	body.page-template-custom_events.site-content {
	    padding: 60px 60px 0;
	}

	/* EVENTS MODAL */
	#scoilInfo .row {
		margin: 0;
	}

	#scoilInfo .left-area {
		background-size: contain;
		background-position: top;
		min-height: 450px;
		background-repeat: no-repeat;
	}

	body.page-template-custom_events #scoilInfo h4 {
		margin-left: 0;
	}

	body.page-template-custom_events #scoilInfo .boxer {
		padding-top: 0;
		margin-top: 0;
	}

	.mob-img-wrap {
		max-height: 500px;
	}

	 .mob-img {
		width: 100%;
		padding-bottom: 66%;
	 }

	 body.page-template-custom_events #scoilInfo .boxer {
	     padding-top: 0;
	     margin-top: 0;
	     border: 0;
	 }

	 /* WORKSHOP STYLES */

	 .wshop-title, .wshop-tutor, .wshop-price {
	     padding-top: 30px;
	     border: 0;
	 }

	 .wshop-cta {
	 	padding-top: 29px;
	 }

	 .page-id-32 table td:empty {
	 	display: table-cell;
	 }

} /* End desktop media query */


@media only screen and (min-width: 980px) {
	/* ACCOMMODATION STYLES */
	tr.accom-imgs {
		display: table-row;
	}
}



@media only screen and (min-width: 980px) and (max-width: 1120px) {
	.lang-links {
	    margin-top: 93px;
	    width: 40px;
	    text-align: left;
	    right: 9%;
	    left: auto;
	}
}
		

/* Original theme breakpoints */
@media only screen and (max-width: 1199px) {

}
@media only screen and (max-width: 991px) {

}
@media only screen and (max-width: 767px) {

}
@media only screen and (min-width: 599px) {

}
@media only screen and (max-width: 499px) {

}
@media only screen and (max-width: 320px) {

}


